<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/aop 
       					   http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 开启组件扫描 -->
	<context:component-scan base-package="com"/>

	<util:properties id="dbParam" location="classpath:db.properties"/>

	<bean id="factoryBean" class="com.bean.FactoryBean"></bean>

	<alias name="user1" alias="user"></alias>

	<bean id="user1"  class="com.bean.User" lazy-init="true">
		<property name="phone" value="15077856386"></property>
		<property name="password" value="admin123"></property>
	</bean>

 	<bean id="user2" class="com.bean.FactoryBean" factory-method="staticInitUser"></bean>

	<bean id="user3" factory-bean="factoryBean" factory-method="initUser"></bean>
</beans>